@using Mutton.LojaVirtual.Web.HtmlHelpers
@model Mutton.LojaVirtual.Web.Models.ProdutosViewModel

@foreach (var p in Model.Produtos)
{
    @Html.Partial("ProdutoDetalhes",p)
}
<div class="btn-group pull-right">
    @Html.PaginacaoLinks(Model.Paginacao, x => Url.Action("ListaProdutos", new { pagina = x }))
</div>